/**=====================================================**
                    THEME-COLORS
=======================================================**/
$primary: #B78628;

/**=====================================================**
                    TEXT-COLORS
=======================================================**/
$textplaceholder: #C5C5C5;

/**=====================================================**
                    BACKGROUND-COLORS
=======================================================**/
$black-900: #454545;
$black-800: #46474B;
$black-700: #6A6A6A;

$white-300: #E0E1E6;
$white-200: #F5F5F5;

$preloaderbg: #E5E5E5;

/**=====================================================**
                        BORDER-COLORS
=======================================================**/


/**=====================================================**
                        NORMAL-COLORS
=======================================================**/
$black: #000000;
$white: #ffffff;


/**=====================================================**
                        SHADOWS
=======================================================**/


/**=====================================================**
                        BOX-SHADOWS
=======================================================**/


/**=====================================================**
                    TIMING-VARIABLES
=======================================================**/
$time: 250ms;